$marginLeftRightBody: 10px;
$marginLeftRightP: 15px;

body{
    margin-left: $marginLeftRightBody;
    margin-right: $marginLeftRightBody;
}


div{
    margin-right: $marginLeftRightP;
    margin-left: $marginLeftRightP;
}